@import '~antd/dist/antd.css';

.site-layout-content {
  min-height: 280px;
  padding: 24px;
  background: #fff;
}
.login-form {
  padding: 50px 25px;
  background-color: white;

}
.entry-background {
  background: url(assets/background.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding: 30vh;
}
#components-layout-demo-top .logo {
  float: left;
  width: 120px;
  height: 31px;
  margin: 16px 24px 16px 0;
  background: rgba(255, 255, 255, 0.3);
}
.ant-row-rtl #components-layout-demo-top .logo {
  float: right;
  margin: 16px 0 16px 24px;
}
.mainTitle {
  padding: 15px;
}
